.ranking-child {
  	position: absolute;
  	top: 1951px;
  	left: -408px;
  	filter: blur(195.3px);
  	border-radius: 50%;
  	background-color: #4c2763;
  	width: 1022px;
  	height: 933px;
  	opacity: 0.6;
}
.ranking-item {
  	position: absolute;
  	top: 2605px;
  	left: 633px;
  	filter: blur(195.3px);
  	border-radius: 50%;
  	background-color: #4c2763;
  	width: 1150px;
  	height: 1138px;
  	opacity: 0.6;
}
.pngtreewhite-light-star-twink {
  	position: absolute;
  	top: 109px;
  	left: 906px;
  	width: 771px;
  	height: 771px;
  	object-fit: cover;
  	opacity: 0.3;
}
.pngtreewhite-light-star-twink1 {
  	position: absolute;
  	top: 1999px;
  	left: 674px;
  	width: 749px;
  	height: 749px;
  	object-fit: cover;
  	opacity: 0.3;
}
.pngtreewhite-light-star-twink2 {
  	position: absolute;
  	top: 1876px;
  	left: -236px;
  	width: 824px;
  	height: 824px;
  	object-fit: cover;
  	opacity: 0.3;
}
.pngtreewhite-light-star-twink3 {
  	position: absolute;
  	top: 1126px;
  	left: 875px;
  	width: 771px;
  	height: 771px;
  	object-fit: cover;
  	opacity: 0.25;
}
.pngtreewhite-light-star-twink4 {
  	position: absolute;
  	top: 71px;
  	left: -91px;
  	width: 728px;
  	height: 728px;
  	object-fit: cover;
  	opacity: 0.3;
}
.pngtreewhite-light-star-twink5 {
  	position: absolute;
  	top: 1169px;
  	left: -154px;
  	width: 728px;
  	height: 728px;
  	object-fit: cover;
  	opacity: 0.23;
}
.pngtreewhite-light-star-twink6 {
  	position: absolute;
  	top: 2982px;
  	left: -23px;
  	width: 1118px;
  	height: 1118px;
  	object-fit: cover;
  	opacity: 0.23;
}
.desain-tanpa-judul-7 {
  	position: absolute;
  	top: -308px;
  	left: -622px;
  	border-radius: 50%;
  	width: 854px;
  	height: 894px;
  	object-fit: cover;
  	opacity: 0.64;
}
.ranking-inner {
  	position: absolute;
  	top: 530px;
  	left: 1046px;
  	filter: blur(200px);
  	border-radius: 50%;
  	background-color: rgba(121, 53, 162, 0.73);
  	width: 854px;
  	height: 894px;
  	opacity: 0.62;
}
.ellipse-div {
  	position: absolute;
  	top: -395px;
  	left: -236px;
  	filter: blur(195.3px);
  	border-radius: 50%;
  	background-color: #4c2763;
  	width: 1712px;
  	height: 1069px;
  	opacity: 0.56;
}
.cuplikan-layar-2025-04-17-2103-icon {
  	position: absolute;
  	top: 134px;
  	left: 126px;
  	width: 147px;
  	height: 194px;
  	object-fit: cover;
}
.ranking-child1 {
  	position: absolute;
  	top: 868px;
  	left: -195px;
  	filter: blur(195.3px);
  	border-radius: 50%;
  	background-color: #4c2763;
  	width: 1022px;
  	height: 933px;
  	opacity: 0.6;
}
.rectangle-div {
  	position: absolute;
  	top: -18px;
  	left: 0px;
  	box-shadow: 0px 4px 4px 7px rgba(0, 0, 0, 0.25);
  	border-radius: 20px;
  	background-color: #000;
  	width: 1440px;
  	height: 127px;
  	opacity: 0.61;
}
.cuplikan-layar-2025-04-17-1957-icon {
  	position: absolute;
  	top: 8px;
  	left: 0px;
  	width: 252px;
  	height: 87px;
  	object-fit: cover;
}
.ranking-child2 {
  	position: absolute;
  	top: 38px;
  	left: 1079px;
  	border-radius: 20px;
  	background: linear-gradient(90deg, #fff, #bf4ae6);
  	width: 135.1px;
  	height: 40px;
}
.pintar {
  	position: absolute;
  	top: 40px;
  	left: 1102px;
  	font-size: 24px;
  	font-weight: 800;
  	color: #000;
  	text-align: center;
}
.dashboar {
  	position: absolute;
  	top: 43px;
  	left: 906px;
  	font-weight: 600;
  	background: linear-gradient(90deg, #fff, #bf4ae6);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	display: inline-block;
  	width: 117px;
  	height: 30px;
}
.beranda {
  	position: absolute;
  	top: 43px;
  	left: 512px;
  	font-weight: 600;
  	display: inline-block;
  	width: 117px;
  	height: 30px;
}
.belajar {
  	position: absolute;
  	top: 43px;
  	left: 643px;
  	font-weight: 600;
  	display: inline-block;
  	width: 77px;
  	height: 30px;
}
.ranking1 {
  	position: absolute;
  	top: 43px;
  	left: calc(50% + 25px);
  	font-weight: 600;
  	text-align: center;
  	display: inline-block;
  	width: 117px;
  	height: 30px;
}
.image-1-icon {
  	position: absolute;
  	top: 845px;
  	left: 534px;
  	width: 15px;
  	height: 15px;
  	object-fit: cover;
}
.image-3-icon {
  	position: absolute;
  	top: 844.87px;
  	left: 576.54px;
  	width: 15px;
  	height: 15px;
  	object-fit: cover;
}
.image-5-icon {
  	position: absolute;
  	top: 844.87px;
  	left: 619.08px;
  	width: 15px;
  	height: 15px;
  	object-fit: cover;
}
.image-2-icon {
  	position: absolute;
  	top: 844px;
  	left: 553.97px;
  	width: 17.6px;
  	height: 17.6px;
  	object-fit: cover;
}
.image-4-icon {
  	position: absolute;
  	top: 844px;
  	left: 596.51px;
  	width: 17.6px;
  	height: 17.6px;
  	object-fit: cover;
}
.image-6-icon {
  	position: absolute;
  	top: 844px;
  	left: 639.05px;
  	width: 17.6px;
  	height: 17.6px;
  	object-fit: cover;
}
.ellipse-icon {
  	position: absolute;
  	top: 19px;
  	left: 1303px;
  	border-radius: 50%;
  	width: 80px;
  	height: 77px;
  	object-fit: cover;
}
.ranking2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 800;
  	display: inline-block;
  	width: 239px;
  	height: 36px;
}
.semakin-aktif-kamu {
  	position: absolute;
  	top: 69px;
  	left: 0px;
  	font-size: 24px;
  	color: #cfc9d5;
  	display: inline-block;
  	width: 1068px;
}
.ranking-parent {
  	position: absolute;
  	top: 171px;
  	left: 286px;
  	width: 1068px;
  	height: 141px;
  	font-size: 48px;
  	color: #fff;
}
.ranking-child3 {
  	position: absolute;
  	top: 411px;
  	left: 88px;
  	border-radius: 30px;
  	width: 1249px;
  	height: 1060px;
  	opacity: 0.7;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 30px;
  	background-color: #000;
  	border: 2px solid #7935a2;
  	box-sizing: border-box;
  	width: 874px;
  	height: 1043px;
  	opacity: 0.7;
}
.point {
  	position: absolute;
  	top: 66px;
  	left: 713px;
  	display: inline-block;
  	width: 134px;
}
.point1 {
  	position: absolute;
  	top: 190px;
  	left: 713px;
  	display: inline-block;
  	width: 134px;
}
.point2 {
  	position: absolute;
  	top: 308px;
  	left: 719px;
  	display: inline-block;
  	width: 134px;
}
.point3 {
  	position: absolute;
  	top: 459px;
  	left: 713px;
  	display: inline-block;
  	width: 134px;
}
.point4 {
  	position: absolute;
  	top: 602px;
  	left: 713px;
  	display: inline-block;
  	width: 134px;
}
.div {
  	position: absolute;
  	top: 586px;
  	left: 58px;
  	font-size: 48px;
  	font-weight: 800;
  	color: #fff;
  	display: inline-block;
  	width: 35px;
  	height: 60px;
}
.ikhsan {
  	position: absolute;
  	top: 8px;
  	left: 86px;
  	display: inline-block;
  	width: 106px;
  	height: 36.8px;
}
.group-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	width: 61px;
  	height: 60.3px;
  	object-fit: cover;
}
.ikhsan-parent {
  	position: absolute;
  	top: 594px;
  	left: 145px;
  	width: 192px;
  	height: 60.3px;
  	font-size: 20px;
  	color: #fff;
}
.div1 {
  	position: absolute;
  	top: 443px;
  	left: 58px;
  	font-size: 48px;
  	font-weight: 800;
  	color: #fff;
  	display: inline-block;
  	width: 35px;
  	height: 60px;
}
.ikhsan-group {
  	position: absolute;
  	top: 451px;
  	left: 145px;
  	width: 192px;
  	height: 60.3px;
  	font-size: 20px;
  	color: #fff;
}
.div2 {
  	position: absolute;
  	top: 174px;
  	left: 58px;
  	font-size: 48px;
  	font-weight: 800;
  	color: #c0c0c0;
  	display: inline-block;
  	width: 35px;
  	height: 60px;
}
.ikhsan2 {
  	position: absolute;
  	top: 8px;
  	left: 173px;
  	display: inline-block;
  	width: 106px;
  	height: 36.8px;
}
.group-child1 {
  	position: absolute;
  	top: 0px;
  	left: 87px;
  	border-radius: 50%;
  	width: 61px;
  	height: 60.3px;
  	object-fit: cover;
}
.div3 {
  	position: absolute;
  	top: 118px;
  	left: 0px;
  	font-size: 48px;
  	font-weight: 800;
  	color: #a52a2a;
  	display: inline-block;
  	width: 35px;
  	height: 60px;
}
.group-div {
  	position: absolute;
  	top: 126px;
  	left: 87px;
  	width: 192px;
  	height: 60.3px;
}
.ikhsan-container {
  	position: absolute;
  	top: 182px;
  	left: 58px;
  	width: 279px;
  	height: 186.3px;
  	font-size: 20px;
  	color: #fff;
}
.div4 {
  	position: absolute;
  	top: 50px;
  	left: 58px;
  	font-size: 48px;
  	font-weight: 800;
  	color: #ffd700;
  	display: inline-block;
  	width: 35px;
  	height: 60px;
}
.rectangle-parent {
  	position: absolute;
  	top: 353px;
  	left: 107px;
  	width: 874px;
  	height: 1043px;
  	font-size: 24px;
}
.pngtreewhite-light-star-twink7 {
  	position: absolute;
  	top: -86px;
  	left: 881px;
  	width: 1118px;
  	height: 1118px;
  	object-fit: cover;
  	opacity: 0.23;
}
.company {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 800;
  	color: #fff;
}
.about {
  	position: absolute;
  	top: 41px;
  	left: 0px;
}
.blog {
  	position: absolute;
  	top: 82px;
  	left: 0px;
}
.help-center {
  	position: absolute;
  	top: 123px;
  	left: 0px;
}
.pricing {
  	position: absolute;
  	top: 164px;
  	left: 0px;
}
.company-parent {
  	position: absolute;
  	top: 130px;
  	left: 68px;
  	width: 118px;
  	height: 194px;
}
.php {
  	position: absolute;
  	top: 205px;
  	left: 0px;
}
.mysql {
  	position: absolute;
  	top: 246px;
  	left: 0px;
}
.languages-parent {
  	position: absolute;
  	top: 130px;
  	left: 373px;
  	width: 116px;
  	height: 276px;
}
.pintar1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 800;
}
.join-here {
  	position: absolute;
  	top: 41px;
  	left: 0px;
  	color: #cfc9d5;
}
.pintar-parent {
  	position: absolute;
  	top: 130px;
  	left: 676px;
  	width: 92px;
  	height: 71px;
  	color: #fff;
}
.copyright-wasabi {
  	position: absolute;
  	top: 517px;
  	left: 616px;
}
.footter {
  	position: absolute;
  	top: 1471px;
  	left: 3px;
  	background: linear-gradient(180deg, rgba(45, 23, 59, 0), #000 33.17%);
  	width: 1445px;
  	height: 727px;
  	overflow: hidden;
}
.ikhsan-parent1 {
  	position: absolute;
  	top: 411px;
  	left: 252px;
  	width: 192px;
  	height: 60.3px;
  	color: #fff;
}
.group-child4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 30px;
  	background-color: #000;
  	border: 2px solid #7935a2;
  	box-sizing: border-box;
  	width: 349px;
  	height: 441px;
  	opacity: 0.7;
}
.group-child5 {
  	position: absolute;
  	top: 302px;
  	left: 23px;
  	border-radius: 20px;
  	background-color: #7935a2;
  	width: 303px;
  	height: 44px;
}
.mulai-kerjakan {
  	position: absolute;
  	top: 309px;
  	left: calc(50% - 76px);
  	font-weight: 600;
  	text-align: center;
}
.dapatkan-poin-dari {
  	margin: 0;
}
.dapatkan-poin-dari-container {
  	position: absolute;
  	top: 72px;
  	left: 18px;
  	font-size: 16px;
  	color: #cfc9d5;
  	display: inline-block;
  	width: 332px;
}
.dapatkan-point-dari {
  	position: absolute;
  	top: 34px;
  	left: 73px;
  	display: inline-block;
  	width: 258px;
  	height: 37px;
}
.rectangle-group {
  	position: absolute;
  	top: 363px;
  	left: 1005px;
  	width: 350px;
  	height: 441px;
  	color: #fff;
}
.cuplikan-layar-2025-04-17-2123-icon {
  	position: absolute;
  	top: 389px;
  	left: 1023px;
  	width: 47px;
  	height: 43px;
  	object-fit: cover;
}
.cuplikan-layar-2025-04-17-2128-icon {
  	position: absolute;
  	top: 390px;
  	left: 1026px;
  	width: 41px;
  	height: 41px;
  	object-fit: cover;
}
.ranking {
  	width: 100%;
  	position: relative;
  	background-color: #000;
  	height: 2045px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 20px;
  	color: #cfc9d5;
  	font-family: Poppins;
}

.table-primary {

  background-color: #c0c0c0!important; /* or background-color: #000; for black background */
  border-radius: 10px; /* adjust the radius to your liking */
}